<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316825813985-tlqvlcf5fstrckpqb9mmisa8dqcr64m1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316825813985-tlqvlcf5fstrckpqb9mmisa8dqcr64m1</string>
	<key>API_KEY</key>
	<string>AIzaSyDypoO7d17z0Hy2ektgrwdZMBVaA8SdztI</string>
	<key>GCM_SENDER_ID</key>
	<string>316825813985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterthailand.yhinmall</string>
	<key>PROJECT_ID</key>
	<string>yhinmall</string>
	<key>STORAGE_BUCKET</key>
	<string>yhinmall.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316825813985:ios:77b9ba4cd64f4e809c48a0</string>
	<key>DATABASE_URL</key>
	<string>https://yhinmall.firebaseio.com</string>
</dict>
</plist>